.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  text-align: center;
}

.imageBank {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 150px;
  height: 150px;
}

.mainNav{
  background-color: darkslategray;
}

.navOption{
  color: white;
  margin-left: 15px;
}

.infoDisplay{
  background-color: rgb(168, 158, 158);
  align-items: center;
}


.accountBal{
  margin-top: 10px;
  color: black;
  border: thick;
  border-style: solid;
  border-color: rgb(66, 62, 78);
  font: x-large italic;
}

.input{
  align-self:center;
}